{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}

<div class="container">

<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title" style="line-height:2em"><img src="/apple-touch-icon.png" style="height:2em"> DoomtownDB Authentication</h3>
</div>
<div class="panel-body">
  <div class="form">
	  
	<p>
		Welcome on DoomtownDB. Please log in to proceed. Your password will remain confidential.
	  </p>
      <form id="login" class="vertical" action="{{ path('oauth_server_auth_login_check') }}" method="post">
          {% if(error) %}
          <div class='form_error'>{{ error }}</div>
          {% endif %}
          <div class="form-group">
              <label for="username">DoomtownDB Username</label>
              <p><input type="text" class="form-control" id="username" name="_username" /></p>
          </div>
          <div class="form-group">
              <label for="password">DoomtownDB Password</label>
              <p><input type="password" class="form-control" id="password" name="_password" /></p>
          </div>
          <div>
              <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="Log In" />
          </div>
      </form>
  </div>
  
</div>
</div>
</div>  
</div>  
</div>  
  
{% endblock %}

{% block footer %}{% endblock %}